html
{
    --background-color: black;
    --text-color: white;
    background-color: var(--background-color);
    color: var(--text-color);
}

td
{
    padding: 2vh;
    border: 1px solid var(--text-color);
    text-align: center;
    color: var(--text-color);
    background-color: var(--background-color);
}

nav
{
    display: flex;
    align-items: center;
}

.links
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vh;
}

a
{
    text-decoration: none;
    color: var(--text-color);
    padding-left: 3vh;
    padding-right: 3vh;
    padding: 1vh;
}

a:hover
{
    background-color: blue;
    border-radius: 1vh;
}

.form
{
    min-height: 25vh;
    background-color: rgb(59, 59, 59);
    color: var(--text-color);
    display: flex;
    justify-content: center;
}

button
{
    min-width: 15vh;
    min-height: 3vh;
    border-color: rgb(44, 44, 44);
    border-radius: none;
}

button[type="submit"]
{
    display: flex;
    justify-content: center;
}

.search
{
    max-height: max-content;
}

.wr td
{
    background-color: goldenrod !important;
}