{% extends 'layout.html' %}
{% block content %}
<body>
    <div class="form">Delete
        <form method="POST" action="{{url_for('delete')}}">
            <div>
                <table>
                    <tr>
                        <td>Setup</td>
                    </tr>
                    <tr>
                        <td>
                            <select name="setup">
                                <option disabled hidden selected></option>
                                {% for i in setups %}
                                    <option value="{{i.setup_id}}">
                                        {{i.wr_time.player}}/{{i.wr_time.time}} |
                                        {{i.track.track_name}} |
                                        {{i.tune.tune1}}/{{i.tune.tune2}}/{{i.tune.tune3}}/{{i.tune.tune4}} |
                                        {{i.vehicle.vehicle_name}} |
                                        {{i.parts_combinations.slot1}}/{{i.parts_combinations.slot2}}/{{i.parts_combinations.slot3}}
                                    </option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div>
                <button type="submit" name="delete submit" value="delete">Delete</button>
            </div>
        </form>
    </div>
</body>
{% endblock %}