<head class="head">
    <nav>
        <div class="links">
            <a href="{{ url_for('Home') }}">Home</a>
            <a href="{{ url_for('delete') }}">Delete</a>
            <a href="{{ url_for('setups') }}">Setups</a>
            <a href="{{ url_for('times') }}">Times</a>
            <a href="{{ url_for('tracks') }}">Tracks</a>
            <a href="{{ url_for('tunes') }}">Tunes</a>
            <a href="{{ url_for('vehicles') }}">Vehicles</a>
            <a href="{{ url_for('parts') }}">Parts</a>
            <a href="{{ url_for('stats') }}">Stats</a>
            <div class="search">
            <form method="GET" action="{{ url_for('setups') }}">
                <input type="search" name="search_bar" value="{{search_bar}}">
            </form>
            <div>
                <p></p>
            </div>
        </div>
        </div>
    </nav>
</head>