{% extends 'layout.html' %}
{% block content %}
<body>
    <div class="form">Insert
        <form method="POST" action="{{url_for('Home')}}">
            <div>
                <table>
                    <tr>
                        <td>Vehicle</td>
                        <td>Time</td>
                        <td>Player</td>
                        <td>Track</td>
                        <td>Tune(1/1/1/1)</td>
                    </tr>
                    <tr>
                        <td>
                            <select name="vehicle_name">
                                <option disabled hidden selected></option>
                                <option value="Jeep">Jeep</option>
                                <option value="MX">MX</option>
                                <option value="SC">SC</option>
                                <option value="SD">SD</option>
                                <option value="ML">ML</option>
                                <option value="SPC">SPC</option>
                                <option value="RB">RB</option>
                                <option value="HR">HR</option>
                                <option value="MT">MT</option>
                            </select>
                        </td>
                        <br>
                        <td>
                            <input type="number" name="time">
                        </td>
                        <br>
                        <td>
                            <input type="text" name="player">
                        </td>
                        <br>
                        <td>
                            <select name="track_name">
                                <option disabled hidden selected></option>
                                <option value="Bottom_gear">Bottom Gear</option>
                                <option value="No_skidding">No Skidding</option>
                                <option value="Landing_drive">Landing Drive</option>
                                <option value="Seesaw_road">Seesaw Road</option>
                                <option value="Big_air">Big Air</option>
                            </select>
                        </td>
                        <br>
                        <td>
                            <input type="number" max="20" min="1" name="tune1">
                            <input type="number" max="20" min="1" name="tune2">
                            <input type="number" max="20" min="1" name="tune3">
                            <input type="number" max="20" min="1" name="tune4">
                        </td>
                    </tr>
                </table>
            </div>
            <br>
            <div>
                <button type="submit">Insert</button>
            </div>
        </form>
    </div>
</body>
{% endblock %}