{% extends 'layout.html' %}
{% block content %}
<body>
    <div class="form">
        <form method="POST" action="{{url_for('Home')}}">
            <select name="Select" required>
                <option value="Jeep">Jeep</option>
                <option value="MX">MX</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="ML">ML</option>
           </select>
           <br>
           <div>
                <input type="submit" class="submit" value="Submit">
           </div>
        </form>
    </div>
</body>
{% endblock %}