{% extends 'layout.html' %}
{% block content %}
<body>
    <div class="results"><h1>WRs</h1>
        <table>
            <thead>
                <tr>
                    <td>Player</td>
                    <td>WRs</td>
                </tr>
            </thead>

            <tbody>
                {% for wrs, player in player_wr_count %}
                    <tr>
                        <td>{{player}}</td>
                        <td>{{wrs}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}