{% extends 'layout.html' %}
{% block content %}
<body>
    <h1>Leaderboards</h1>

    <div>
        <form method="GET" action="{{ url_for('search') }}">
            Vehicle
            <select name="vehicle">
                <option value="" disabled hidden selected></option>
                {% for i in vehicles_options %}
                    <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select><br>

            Time
            <input type="number" step="any" name="time"><br>

            Player
            <select name="player">
                <option value="" disabled hidden selected></option>
                {% for i in players %}
                    <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select><br>

            Track
            <select name="track">
                <option value="" disabled hidden selected></option>
                {% for i in tracks_list %}
                    <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select><br>

            <div>Tunes
                <input type="number" max="20" min="1" name="tune1">
                <input type="number" max="20" min="1" name="tune2">
                <input type="number" max="20" min="1" name="tune3">
                <input type="number" max="20" min="1" name="tune4">
            </div>

            <div>Parts
                {% for i in range(3) %}
                    <select name="slot{{(i + 1)}}">
                        <option value="" disabled hidden selected></option>
                        {% for x in parts_list %}
                            <option value="{{x}}">{{x}}</option>
                        {% endfor %}
                    </select>
                {% endfor %}
            </div><br>

            {% if result_errors%}
                <div>
                    {% for i in result_errors %}
                        <p>{{i}},</p>
                    {% endfor %}
                </div>
            {% endif %}

            <input type="search" name="search_bar" value="{{search_bar}}">
            <button type="submit">enter</button>
        </form>
    </div>

    <div>
        <table>
            <thead>
                <tr>
                    <td>Setup ID</td>
                    <td>Time/Player</td>
                    <td>Track</td>
                    <td>Tunes</td>
                    <td>Vehicle</td>
                    <td>Parts</td>
                </tr>
            </thead>
            <tbody>
                {% for i in result %}
                <tr>
                    <td>{{i.setup_id}}</td>
                    <td>{{i.wr_time.time}} / {{i.wr_time.player}}</td>
                    <td>{{i.track.track_name}}</td>
                    <td>{{i.tune.tune1}}, {{i.tune.tune2}}, {{i.tune.tune3}}, {{i.tune.tune4}}</td>
                    <td>{{i.vehicle.vehicle_name}}</td>
                    <td>{{i.parts_combinations.slot1}}, {{i.parts_combinations.slot2}}, {{i.parts_combinations.slot3}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}