{% extends 'layout.html' %}
{% block content %}
<body>
    <div class="results"><h1>Times</h1>
        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Time</td>
                    <td>Player</td>
                </tr>
            </thead>

            <tbody>
                {% for time in times %}
                <tr>
                    <td>{{time.time_id}}</td>
                    <td>{{time.time}}</td>
                    <td>{{time.player}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}