{% extends 'layout.html' %}
{% block content %}
<body>
    <div class="results"><h1>Tracks</h1>
        <table class="table">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Track Name</td>
                </tr>
            </thead>

            <tbody>
                {% for track in tracks %}
                <tr>
                    <td>{{track.track_id}}</td>
                    <td>{{track.track_name}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
{% endblock %}